<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @status.user.complete_name %>
</p>

<p>
  <strong>Contenido:</strong>
  <%= @status.content %>
</p>

<%= link_to 'Editar', edit_status_path(@status) %> |
<%= link_to 'Regresar', statuses_path %>
